---
import Layout from '../layouts/layout.astro';
---

<Layout title="Proyecto Tesis">
	<div class="text-center">
		<p class="text-lg m-6">Este juego busca enseñar lógica de programación mediante narrativa.</p>

		<div class="relative h-screen bg-cover bg-center" style="background-image: url('/bobesponja.jpg')">
			<div class="absolute inset-0 flex items-center justify-center">
			<button class="btn neon-pulse">
				<span>¡Inicia Aquí!</span>
			</button>
			</div>
		</div>


	</div>
</Layout>