---
    // Importa props (contenido y título por ejemplo)
    const { title = "Mi sitio"} = Astro.props;
    import '../styles/global.css'
---

<html lang="es" class="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <link rel="icon" type="image/png" href="/logo2.png" />
    </head>
    <body class="flex flex-col min-h-screen">
        <header class="p-4 w-full">
            <h1 class="text-lg m-6">{title}</h1>
        </header>

        <main class="flex-grow">
            <slot />
        </main>

        <footer class="p-4 w-full">
            <p class="text-lg m-6">© 2025 DDGames Company</p>
        </footer>
    </body>
    </html>

<style>
    body {
        color: #fff;
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    header, footer {
        background: #272727;
        color: #fff;
        padding: 1rem;
    }
</style>
